services:
  postgres_db:
    image: postgres:latest
    restart: always
    environment: 
      POSTGRES_ROOT_PASSWORD: 'Root password'
      POSTGRES_DATABASE: 'nom database'
      POSTGRES_USER: 'nom utilisateur'
      POSTGRES_PASSWORD: 'password utilisateur'
    ports:
      - "5432:5432"